@page
@model Bleak.Pages.Test.IndexModel
@{
}

<form method="POST" class="m-4 bg-black/25 p-4 rounded-xl">
    <input name="Message" />
</form>


<h1 class="text-4xl">Your name: @User.Identity.Name</h1>
